html {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

html {
    line-height: 1;
    font-size: 62.5%;
    box-sizing: border-box;
    color: $text-color_main;
}

body {
    width: 100%;
    overflow: hidden;
    font-size: 1.6rem;
    font-family: $main-font;
    background-color: $white;
    @include md(font-size, 1.5rem);
    @include sm(font-size, 1.4rem);
    @include xs(font-size, 1.3rem);
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
p {
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style: none;
}

a {
    color: $black;
    text-decoration: none;
}

a,
input,
select,
button {
    outline: none;
}

textarea {
    resize: none;
}

audio,
video,
canvas,
iframe,
img,
svg {
    vertical-align: middle;
}

section {
    position: relative;
    padding: 50px 0;
}

.container {
    @include wrapper();
    position: relative;
    max-width: 1240px;
    height: 100%;
    width: 100%;
    margin: 0 auto;
}

.row {
    @include row-flex();
}

.logo-brand {
    display: block;
    width: 80px;
    height: 50px;
    img {
        max-width: 65px;
        max-height: 50px;
    }
}

.btn {
    position: relative;
    overflow: hidden;
    font-family: 'ClearSansRegular', sans-serif;
    display: inline-block;
    padding: 1.5rem 3rem;
    border-radius: 25px;
    font-size: 1.2rem;
    text-align: center;
    text-transform: uppercase;
    color: $white;
    border: 1px solid transparent;
    transition: 0.5s background-color, 0.5s color, border-color 0.5s;
    cursor: pointer;
    @include sm(padding, 1rem 2rem);
    @include xs(font-size, 1.4rem);    
}

form .input__wrap-check {
    display: flex;
    input {
        width: 30px;
        height: 30px;
        margin-right: 10px;
    }
    a {
        color: $acsent;
        text-decoration: underline;
        &:hover {
            text-decoration: none;
        }
    }
}

.lg-backdrop.in {
    opacity: 0.5;
}

.wrap-center {
    text-align: center;
}

.section__heading-wrap {
    text-align: center;
}

.section__heading {
    font-family: 'ClearSansBold', sans-serif;
    font-size: 4.6rem;
    text-transform: uppercase;

    &.section__text--red {
        color: $acsent;
    }

    @include md(font-size, 3.6rem);
    @include sm(font-size, 2.4rem);
}

.section__subtitle {
    font-family: 'ClearSansBold', sans-serif;
    font-size: 2.4rem;
    text-transform: uppercase;
    color: $text-grey;

    &.section__text--red {
        color: $acsent;
    }

    @include sm(font-size, 2rem);
    @include xs(font-size, 1.8rem);    
}

.ink {
    display: block;
    position: absolute;
    background: rgba(255,255,255,0.7);
    border-radius: 100%;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
  }
  .animate {
    -webkit-animation: ripple 0.65s linear;
    -moz-animation: ripple 0.65s linear;
    -ms-animation: ripple 0.65s linear;
    -o-animation: ripple 0.65s linear;
    animation: ripple 0.65s linear;
  }

  @keyframes ripple {
    100% {
      opacity: 0;
      transform: scale(2.5);
    }
  }