section.contacts#scroll-contacts
    .contacts__line.contacts__line--top
        .container
            .section__heading-wrap
                h2.section__heading.section__text--red 8 ЛЕТ НА ОДНОМ МЕСТЕ В ЦЕНТРЕ ЯРОСЛАВЛЯ
    #map
        .contacts__aside-wrap
            .container
                .contacts__aside-nav
                    .aside-nav__pos
                        .aside-nav__line
                            span.contacts__title звоните
                            a(href="tel:84852680583").contacts__phone 8 (4852) 68-05-83
                        .aside-nav__line
                            span.contacts__title приходите
                            span.contacts__addres ул. Революционная,18
                                span (вход с улицы)


    .contacts__line.contacts__line--bottom
        .container
            .contacts__line
                .contacts__brand
                    a(href="#").logo-brand
                        img(src="./assets/img/logo-brand-b.png" alt="Эверест-Строй" title="Эверест-Строй")
                    span.logo-descr Готовые дома от застройщика
                        br
                        | в черте Ярославля
                .contacts__bricks
                    span.bricks__text жми
                    a(href="#popup-form").bricks.popup-with-form 