section.documents#scroll-documents
    .container
        .section__heading-wrap
            h2.section__heading Оформляем полный пакет документов
            p.section__sub-heading Экономим Вам 2 месяца жизни и 1 000 000 нервных клеток
        .documents__content
            .documents__left
                .documents__heading.bg-shape
                    span ПРОХОДИМ ПО 20+ КАБИНЕТАМ,
                        br
                        |ГОТОВИМ И СОГЛАСовываем:
                .documents__check
                    .documents__check-line
                        +icon('checked')
                        span Проводим межевание земельного участка
                    .documents__check-line
                        +icon('checked')
                        span Указываем полную сумму в договоре
                    .documents__check-line
                        +icon('checked')
                        span Согласуем проектную документацию
                    .documents__check-line
                        +icon('checked')
                        span Оформляем разрешение на строительство
                    .documents__check-line
                        +icon('checked')
                        span Оформляем договора подряда с подрядчиками и поставщиками материалов
                    .documents__check-line
                        +icon('checked')
                        span Оформляем документацию по технике безопасности проведения работ и пожарной безопасности
                    .documents__check-line
                        +icon('checked')
                        span Поэтапно принимаем скрытые работы, а так же оформляем промежуточные акты, контролируем качество работ и соответствие проекту
                    .documents__check-line
                        +icon('checked')
                        span Оформляем гарантийные обязательства подрядными организациями с подрядными организациями по обслуживанию скважин, септиков, кровли, окон
                    .documents__check-line
                        +icon('checked')
                        span Оформляем свидетельство о собственности на дом с адресом, кадастровый паспорт, тех.план на дом.
                    .documents__check-line
                        +icon('checked')
                        span Встречаемся в рос реестре для оформления перехода права собственности на дом и участок.
            .documents__right
                .documents__right__content
                    .documents__right-title Знаем, как сэкономить
                        span 600 000 руб.
                    .documents__right-subtitle при покупке дома и готовы поделиться с Вами
                    form.form.documents__form(method="POST" data-tag="как сэкономить")
                        .input__wrap
                            input(type="text" name="name" placeholder="Введите имя")
                        .input__wrap
                            input(type="tel" name="phone" placeholder="Введите телефон")
                        p.form__descr.form__descr--small Настоящим подтверждаю, что я ознакомлен с 
                            a(href="./politic.html").politic политикой конфидециальности 
                            | и согласен на обработку персональных данных.
                        .wrap-center
                            a(href="#" data-href="#mypres" class="form-submit").btn.btn__hero Узнать как сэкономить
                    .documents__to-know
                        span.documents__to-know-number 15
                        span.documents__to-know-descr человек за сегодня уже узнали, как сэкономить 600 000 р.

                    