section.hero
  .container
      .hero__center
        h1.hero__title ГОТОВЫЕ ДОМА НА СВЕЖЕМ ВОЗДУХЕ
        .hero__subtitle ПОМЕНЯЙ КВАРТИРУ НА ГОТОВЫЙ ДОМ
        a(data-href="#mypres" href="#popup-form").btn.btn__hero.popup-with-form Узнай условия
      .hero__bottom
        ul.list
              li(data-tooltip="Поселок обнесен 3-х метровым забором, на въезде КПП с охраной, установлены камеры видеонаблюдения").list__item.tooltip
                +icon('lock')
                .list__item-descr ЗАКРЫТЫЙ
                  br
                  | КОТТЕДЖНЫЙ 
                  br 
                  | ПОСЕЛОК
              li(data-tooltip="От 2.095.000 за квартиру 74 кв.м в таунхаусе и от 2.754 .000 рублей за собственный дом 80 кв.м!").list__item.tooltip
                img(src="./assets/img/printed.png", alt="")
                .list__item-descr САМАЯ НИЗКАЯ 
                  br
                  | ЦЕНА НА ДОМА
              li(data-tooltip="Вы не платите за: содержание жилья, горячую воду, канализацию, лифт, капремонт. Налог на дом приходит раз в год. Отопление дома газом обходится дешевле, чем отопление в квартире").list__item.tooltip
                +icon('savings')
                .list__item-descr ТАРИФЫ И 
                  br
                  | НАЛОГИ МЕНЬШЕ
              li(data-tooltip="В шаговой доступности: остановка общественного транспорта, супермаркеты, рынок, школы, детские сады, поликлиника, банк, почтовое отделение.").list__item.tooltip
                +icon('monumental')
                .list__item-descr Вся необходимая 
                  br
                  | инфрастуктура
              li(data-tooltip="Застройщик предоставляет возможность приобрести дом в рассрочку с первоначальным взносом всего 30%").list__item.tooltip
                +icon('real-estate')
                .list__item-descr БЕСПРОЦЕНТНАЯ 
                  br
                  | РАССРОЧКА
                  br
                  |  ДО 6 МЕСЯЦЕВ
              li(data-tooltip="Наши юристы оформят полный пакет документов, от получения разрешения на строительство до передачи дома с участком в собственность ").list__item.tooltip
                +icon('closing')
                .list__item-descr ДОМА ПЕРЕДАЮТСЯ 
                  br
                  | ВАМ ВМЕСТЕ 
                  br
                  | С ЗЕМЛЕЙ

