section.plan-home
    ul.plane-home__nav
        li.plane-home__item
            a(href="#" data-mark="plan-home__mark-foundation").plane-home__link Фундамент
        li.plane-home__item
            a(href="#" data-mark="plan-home__mark-wall").plane-home__link Стены
        li.plane-home__item
            a(href="#" data-mark="plan-home__mark-ceiling").plane-home__link Перекрытия
        li.plane-home__item
            a(href="#" data-mark="plan-home__mark-roof").plane-home__link Кровля
        li.plane-home__item
            a(href="#" data-mark="plan-home__mark-window").plane-home__link Окна
        li.plane-home__item
            a(href="#" data-mark="plan-home__mark-gas").plane-home__link Отопление
        li.plane-home__item
            a(href="#" data-mark="plan-home__mark-wall-2").plane-home__link Канализация
        li.plane-home__item
            a(href="#" data-mark="plan-home__mark-water").plane-home__link Водоснабжение
        li.plane-home__item
            a(href="#" data-mark="plan-home__mark-electricity").plane-home__link Электричество
        li.plane-home__item.plane-home__btn
            a(href="#popup-form-smeta" data-href="#mypres").btn.btn__hero.popup-with-form Получить полную смету
    .plan-home__mark.plan-home__mark-electricity
        span.tooltip(data-tooltip="На каждый дом уже подключено 15 Квт энергии")
        span(class="plan-home__mark-trigger" data-project_type="project_map-electricity")
    .plan-home__mark.plan-home__mark-roof
        span.tooltip(data-tooltip="Двухскатная по деревянным стропилам с утеплением базальтовой плитой 200мм, уже с подшитыми свесами и водосточной системой.")
        span(class="plan-home__mark-trigger" data-project_type="project_map-roof")
    .plan-home__mark.plan-home__mark-water
        span.tooltip(data-tooltip="Собственная скважна глубиной от 50 м")
        span(class="plan-home__mark-trigger" data-project_type="project_map-water")
    .plan-home__mark.plan-home__mark-wall
        span.tooltip(data-tooltip="Газосиликатные блоки толщиной 375 мм в облицовке декоративной штукатуркой или немецким кирпичом Braer")
        span(class="plan-home__mark-trigger" data-project_type="project_map-wall")
    .plan-home__mark.plan-home__mark-wall-2
        span.tooltip(data-tooltip="Автономная канализация ТОПАС-5 расщепляет отходы. В результате остается ил и техническая вода для вторичного использования (полив, мытье машины)")
        span(class="plan-home__mark-trigger" data-project_type="project_map-wall-2")
    .plan-home__mark.plan-home__mark-gas
        span.tooltip(data-tooltip="Электрокотёл марки «Протерм» - самое надежное и качественное оборудование, не имеющее аналогов. Регулировать уровень тепла в доме можно даже с мобильного телефона через приложение «Мой дом».")
        span(class="plan-home__mark-trigger" data-project_type="project_map-gas")
    .plan-home__mark.plan-home__mark-window
        span.tooltip(data-tooltip="Montblanс Nord 70 мм с 5-камерным стеклопакетом")
        span(class="plan-home__mark-trigger" data-project_type="project_map-window")
    .plan-home__mark.plan-home__mark-foundation
        span.tooltip(data-tooltip="Бетонные буронабивные сваи на 2,6 метра с ленточным ростверком")
        span(class="plan-home__mark-trigger" data-project_type="project_map-foundation")
    .plan-home__mark.plan-home__mark-ceiling
        span.tooltip(data-tooltip="Деревянная балка 150*200 мм или ж/б перекрытия (выбор клиента)")
        span(class="plan-home__mark-trigger" data-project_type="project_map-ceiling")
    img(src="./assets/img/plan-home-bg.jpg" alt="план-схема").plan-home__img

