section.ipoteca#scroll-ipoteca
    .container
        .section__heading-wrap
            h2.section__heading РАСЧИТАЕМ ИПОТЕКУ БЕЗ ВИЗИТА В БАНК
        h3.section__subtitle.section__text--red Мы являемся аккредитованными партнерами
        p  таких банков как:
        .ipoteca__bank-partners
            ul.bank-partners
                li(title="Сбербанк").bank-partners__item
                li(title="ВТБ").bank-partners__item
                li(title="РоссельхозБанк").bank-partners__item
        p.ipoteca__descr В режиме онлайн можем оценить Ваши возможности
            br
            | на получение ипотеки, а так же ежемесячный платеж за дом.
        a(data-href="#mypres" href="#popup-form-ipoteca").btn.btn__hero.popup-with-form расчитать ипотеку