form(id="popup-form" class="white-popup-block mfp-hide form" method="POST" data-tag="обычная заявка")
    .section__subtitle.section__text--red Заполни заявку на просмотр
    p.form__descr Наш специалист свяжется с Вами в ближайшее время
    .form__wrap
        .input__wrap
            input(id="name" name="name" type="text" placeholder="Введите имя" required)
        .input__wrap
            input(id="phone" name="phone" type="tel" placeholder="Введите телефон" required)
        .input__wrap-btn
            a(href="#" class="form-submit").btn.btn__hero записаться
    p.form__descr.form__descr--small Настоящим подтверждаю, что я ознакомлен с 
        a(href="./politic.html").politic политикой конфидециальности 
        | и согласен на обработку персональных данных.
form(id="popup-form-smeta" class="white-popup-block mfp-hide form" method="POST" data-tag="Получить смету")
    .section__subtitle.section__text--red Получиту подробный сметный расчет стоимости строительства дома
    p.form__descr Наш специалист свяжется с Вами в ближайшее время
    .form__wrap
        .input__wrap
            input(id="name" name="name" type="text" placeholder="Введите имя" required)
        .input__wrap
            input(id="phone" name="phone" type="tel" placeholder="Введите телефон" required)
        .input__wrap-btn
            a(href="#" class="form-submit").btn.btn__hero получить
    p.form__descr.form__descr--small Настоящим подтверждаю, что я ознакомлен с 
        a(href="./politic.html").politic политикой конфидециальности 
        | и согласен на обработку персональных данных.
form(id="popup-form-opinion" class="white-popup-block mfp-hide form" method="POST" data-tag="отзыв")
    .section__subtitle.section__text--red Заполните заявку
    .form__wrap
        .input__wrap
            input(id="name" name="name" type="text" placeholder="Введите имя" required)
        .input__wrap
            input(id="phone" name="phone" type="tel" placeholder="Введите телефон" required)
        .input__wrap
            input(id="email" name="emaill" type="mail" placeholder="Введите email" required)
        .input__wrap
            textarea(id="message" name="message" type="text" placeholder="Введите сообщение" required)
        .input__wrap-btn
            a(href="#" class="form-submit").btn.btn__hero отправить
    p.form__descr.form__descr--small Настоящим подтверждаю, что я ознакомлен с 
        a(href="./politic.html").politic политикой конфидециальности 
        | и согласен на обработку персональных данных.

form(id="popup-form-ipoteca" class="white-popup-block mfp-hide form" method="POST" data-tag="ипотека")
    .section__subtitle.section__text--red Заполни заявку на расчет ипотеки
    p.form__descr Наш специалист свяжется с Вами в ближайшее время
    .form__wrap
        .input__wrap
            input(id="name" name="name" type="text" placeholder="Введите имя" required)
        .input__wrap
            input(id="phone" name="phone" type="tel" placeholder="Введите телефон" required)
        .input__wrap-btn
            a(href="#" class="form-submit").btn.btn__hero отправить
    p.form__descr.form__descr--small Настоящим подтверждаю, что я ознакомлен с 
        a(href="./politic.html").politic политикой конфидециальности 
        | и согласен на обработку персональных данных.
